/* src/app/layout.module.css */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #f0f0f0;
    border-bottom: 1px solid #ddd;
  }
  
  .addButton {
    background: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    float: right;
  
  }
  
  .addButton:hover {
    background: #005bb5;
  }
  
  .heading{
    display: block;
    margin-bottom: -3px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
  }